.Test  {
  font-size: 16px;
 table-layout: fixed!important;
  width: 1%!important;
  height: 50px!important;
}

.tomorrow{
text-align: center;
font-size: 14px;
font-style:bold;
background:#4a906c;
width:30%;

}


.GrI{
  
  font-size:14px;
 width:1%; 
}




.Now{
border: 0px solid white;
width: 530px!important;

 
}
.Now1{
border: 0px solid white;
width: 530px!important;
margin-top: 20px;
}

.Now td { 
  border:1px solid black;
  table-layout: fixed;
  width: 110px;
}


.Now1 td{
  border:1px solid black;
  table-layout: fixed;
  width: 110px;
}





	body {
			background-image:url(http://anywalls.com/pic/201211/1680x1050/anywalls.com-26573.jpg);
       background:center center cover no-repeat fixed;


	}

#Main{
  display:none;
}
		table {
      text-shadow: 0 1px 1px rgba(0,0,0,0.15);
			width: 100%!important;
			height: 100%!important;
			/*table-layout: auto;*/
			text-align: center;
	     
border-collapse:collapse;
border:0px solid lightgray;
font-size: 12px;

 font-family:Roboto;
 background: white;
 border: 1px solid #3a8fb6;
}


}
td {
border: 1px solid #3a8fb6;
}

tr{


}

caption {
	font-style:bold;
}

.Even {
border-left: 1px solid #435473;
/*font-size: 42px;*/
}

#Not-Even {
border:0px solid lightgray;
/*font-size: 42px;*/	
}

.Day {
 text-align: left;	
color:white;
border:0px solid lightgray;
font-size: 17px;
background:#4a906c;
}


.fix1{
    text-align: center;
 
   background:#4a906c;
    color:white;
      border: 0px solid white;
}

.number-group {
 border-left: 1px solid #435473;
background:#6d7ae0!important;
color:black;
 text-align: center;
 font-size: 20px;
}

.empty {
background:#4a906c;

}

.not-empty {
background:#4a906c;
}

 .Lessons {
	text-align:center;
	color:white;
	background:#4a906c;

}

 .First td {
 	 background:#ffffff;
  
 } 

  .Second td {
   background:#f8f7ff;
 } 

 .First .number-group {
 	 background:#ffffff!important;
 }
 	

 .Second .number-group {
 	   background:#f8f7ff!important;
 }

 .Not-Even {
 	
visibility: collapse;
 }

.button-blue {
  color: #fff;
  background: #39aad4; /* Old browsers */
  background: -moz-linear-gradient(top, #41c4f4 0%, #39aad4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41c4f4), color-stop(100%,#39aad4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c4f4', endColorstr='#39aad4',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #41c4f4 0%,#3a8fb6 100%); /* W3C */
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #3a8fb6;
}
.button-blue:hover,
.button-blue:focus {
  color: #fff;
  background: #0189bc; /* Old browsers */
  background: -moz-linear-gradient(top, #14bcfb 0%, #0189bc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14bcfb), color-stop(100%,#0189bc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14bcfb', endColorstr='#0189bc',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* W3C */
  border: 1px solid #0370A2;
}

#Data {
	display:none;
}

#Name {
width:50%;
height: 50%;	
display:none;
}
}



