
	html{
		width: 100%;
			height: 100%;
	}

	body {
			background-image:url(http://anywalls.com/pic/201211/1680x1050/anywalls.com-26573.jpg);
	}

		table {
      text-shadow: 0 1px 1px rgba(0,0,0,0.15);
			width: 100%!important;
			height: 100%!important;
			/*table-layout: auto;*/
			text-align: center;
	
border-collapse:collapse;
border:0px solid lightgray;
font-size: 12px;

 font-family:Roboto;
 background: white;
 border: 1px solid #3a8fb6;
}


}
td {
border: 1px solid #3a8fb6;
width:50%;
height: 50%;
}

caption {
	font-style:bold;
}

#Even {
 border: 1px solid #3a8fb6;
/*font-size: 42px;*/
}

#Not-Even {
border:0px solid lightgray;
/*font-size: 42px;*/	
}

.Day {
 text-align: left;	
color:white;
border:0px solid lightgray;
font-size: 17px;
background:#4a906c;
}


.fix1{
    text-align: center;
    border:0px solid lightgray;
   background:#4a906c;
    color:white;
      border: 1px solid #3a8fb6;
}

.number-group {
 border:0px solid lightgray;
background:#6d7ae0!important;
color:black;
 text-align: center;
 font-size: 20px;
}

.empty {
background:#4a906c;

}

.not-empty {
background:#4a906c;
}

 .Lessons {
	text-align:center;
	color:white;
	background:#4a906c;

}

 .First td {
 	 background:#ffffff;
  
 } 

  .Second td {
   background:#f8f7ff;
 } 

 .First .number-group {
 	 background:#ffffff!important;
 }
 	

 .Second .number-group {
 	   background:#f8f7ff!important;
 }

 .Not-Even {
 	
visibility: collapse;
 }

.button-blue {
  color: #fff;
  background: #39aad4; /* Old browsers */
  background: -moz-linear-gradient(top, #41c4f4 0%, #39aad4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41c4f4), color-stop(100%,#39aad4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c4f4', endColorstr='#39aad4',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #41c4f4 0%,#3a8fb6 100%); /* W3C */
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #3a8fb6;
}
.button-blue:hover,
.button-blue:focus {
  color: #fff;
  background: #0189bc; /* Old browsers */
  background: -moz-linear-gradient(top, #14bcfb 0%, #0189bc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14bcfb), color-stop(100%,#0189bc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14bcfb', endColorstr='#0189bc',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* W3C */
  border: 1px solid #0370A2;
}

#Data {
	display:none;
}

#Name {
width:10%;
height: 10%;	
}
}

